<header id="header-color" class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Task App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Top", root_path, id: "logo2" %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path, id: "logo2" %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown", id="logo2">
              <%= User.find(session[:user_id]).name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Show", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <!-- <li class="dropdown-header">タスク</li> ←ここは後で追加するのかも--!>
              <li><%= link_to "Tasks", user_tasks_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Log out", logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path , id: "logo2" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
